# OSX
#
.DS_Store

# BUCK
buck-out/
\.buckd/
*.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Gitignore.md

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
.idea/workspace.xml
.tmp/
.watchmanconfig
__tests__/
android/.gradle/
android/app/BUCK
android/app/build/
android/app/google-services.json
android/app/proguard-rules.pro
android/app/src/main/assets/
android/build.gradle
android/build/
android/gradle.properties
android/gradle/
android/gradlew
android/gradlew.bat
android/keystores/
android/settings.gradle
app_back/
img/icon-settings.png
ios/
node_modules/
yarn.lock
wifiDebug.cmd
